# requirements.txt records the full set of dependencies for development
numpy
pandas
plotly
matplotlib
pytest
loguru
kaleido
torch
requests
ray
omegaconf
fastapi
uvicorn
prometheus_client
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
pyyaml
